asttokens
backcall
certifi
chardet
charset-normalizer
click
cycler
Cython
decorator
et-xmlfile
executing
filelock
Flask
Flask-Cors
fonttools
fsspec
gensim
googletrans
graphviz
gunicorn
hdbscan
h11
h2
hpack
hstspreload
httpcore
httpx
huggingface-hub
hyperframe
idna
importlib-metadata
ipython
itsdangerous
jedi
Jinja2
joblib
kiwisolver
langdetect
llvmlite
lxml
MarkupSafe
nltk
numba
numpy
openpyxl
packaging
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
pure-eval
pygments
pymystem3
pynndescent
pyparsing
python-dateutil
pytz
PyYAML
regex
rfc3986
sacremoses
scikit-learn
scipy
six
smart-open
sniffio
soupsieve
stack-data
stop-words
threadpoolctl
tokenizers
torch
tqdm
traitlets
transformers
typing-extensions
umap-learn
urllib3
wcwidth
websockets
Werkzeug
zipp
